[Unit]
Description=Gromit
After=network.target

[Service]
ExecStart=/home/pi/gromit
WorkingDirectory=/home/pi
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
